nav
	font-size: 1.5em
	font-family: $font-Nav
	text-transform: uppercase
	border-bottom: 1px solid #ddd
	background: inherit
	color: #606060
	width: 100%
	margin: 0 auto
	> ul
		list-style: none
		margin: inherit
		text-align: center
		li
			display: inline-block
			margin-left: 1em
			margin-right: 1em
			a
				color: #606060
				text-decoration: none
	.logo
		margin: inherit
		display: block
		max-width: 50%
		width: 7em