//Colors
$main: white
$accent: #f89838
$link: #46e8ef
$dribbble: #ea4c89

$font-Main: 'Source Sans Pro', Helvetica, Arial, sans-serif
$font-Header: 'Playfair Display', serif
$font-Nav: ANReg, Helvetica, Arial, sans-serif

$siteWidth: 50%